<!--Home 1 Section 5-->
<section class="position-relative overflow-hidden box-plan">
    <div class="container" data-aos="fade-up">
        <div class="row position-relative align-items-end">
            <div class="col-lg-7">
                <h6 class="title-line mb-20" data-aos="fade-up">Flexiable Plan</h6>
                <h3 class="heading-3xl" data-aos="fade-up">Perfect Pricing Plan For your Exclusive Services</h3>
            </div>
            <div class="col-lg-5">
                <p class="paragraph-base" data-aos="fade-up">Muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera</p>
            </div>
        </div>
        <div class="box-list-pricing" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card-pricing">
                        <div class="top-pricing">
                            <div class="pricing-name">
                                <h6 class="heading-lg color-white">
                                    Basic<br class="d-none d-lg-block" />
                                    Package
                                </h6>
                                <div class="pricing-icon">
                                    <img src="assets/imgs/template/icons/basic.png" alt="Vatech" />
                                </div>
                            </div>
                            <div class="paragraph-base desc-pricing grey-100">Pricing plan for startup company</div>
                            <div class="pricing-price">
                                <span class="currency">$</span>
                                <h2>129</h2>
                                <span class="package-name">/month</span>
                            </div>
                        </div>
                        <div class="bottom-pricing">
                            <ul class="list-ticked mb-40">
                                <li>5000 User Activities</li>
                                <li>Unlimited Access</li>
                                <li>No Hidden Charge</li>
                                <li>03 Time Updates</li>
                                <li>Figma Source File</li>
                                <li>Many More Facilities</li>
                            </ul>
                            <div class="card-button text-center">
                                <a href="#" class="btn btn-border-primary-500"
                                    >Get Started your Plan
                                    <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.3333 12C11.3333 11.364 11.8525 10.4143 12.3781 9.61714C13.0539 8.58857 13.8614 7.69114 14.7872 7.00629C15.4813 6.49286 16.3228 6 17 6M17 6C16.3228 6 15.4806 5.50714 14.7872 4.99371C13.8614 4.308 13.0539 3.41057 12.3781 2.38371C11.8525 1.58571 11.3333 0.634285 11.3333 -3.66907e-07M17 6L7.39105e-07 6" stroke="" stroke-width="1.5" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-pricing">
                        <div class="top-pricing">
                            <div class="pricing-name">
                                <h6 class="heading-lg color-white">Standard package</h6>
                                <div class="pricing-icon">
                                    <img src="assets/imgs/template/icons/standard.png" alt="Vatech" />
                                </div>
                            </div>
                            <div class="paragraph-base desc-pricing grey-100">Pricing plan for startup company</div>
                            <div class="pricing-price">
                                <span class="currency">$</span>
                                <h2>149</h2>
                                <span class="package-name">/month</span>
                            </div>
                        </div>
                        <div class="bottom-pricing">
                            <ul class="list-ticked mb-40">
                                <li>5000 User Activities</li>
                                <li>Unlimited Access</li>
                                <li>No Hidden Charge</li>
                                <li>03 Time Updates</li>
                                <li>Figma Source File</li>
                                <li>Many More Facilities</li>
                            </ul>
                            <div class="card-button text-center">
                                <a href="#" class="btn btn-border-primary-500"
                                    >Get Started your Plan
                                    <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.3333 12C11.3333 11.364 11.8525 10.4143 12.3781 9.61714C13.0539 8.58857 13.8614 7.69114 14.7872 7.00629C15.4813 6.49286 16.3228 6 17 6M17 6C16.3228 6 15.4806 5.50714 14.7872 4.99371C13.8614 4.308 13.0539 3.41057 12.3781 2.38371C11.8525 1.58571 11.3333 0.634285 11.3333 -3.66907e-07M17 6L7.39105e-07 6" stroke="" stroke-width="1.5" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-pricing">
                        <div class="top-pricing">
                            <div class="pricing-name">
                                <h6 class="heading-lg color-white">Premium Package</h6>
                                <div class="pricing-icon">
                                    <img src="assets/imgs/template/icons/premium.png" alt="Vatech" />
                                </div>
                            </div>
                            <div class="paragraph-base desc-pricing grey-100">Pricing plan for startup company</div>
                            <div class="pricing-price">
                                <span class="currency">$</span>
                                <h2>169</h2>
                                <span class="package-name">/month</span>
                            </div>
                        </div>
                        <div class="bottom-pricing">
                            <ul class="list-ticked mb-40">
                                <li>5000 User Activities</li>
                                <li>Unlimited Access</li>
                                <li>No Hidden Charge</li>
                                <li>03 Time Updates</li>
                                <li>Figma Source File</li>
                                <li>Many More Facilities</li>
                            </ul>
                            <div class="card-button text-center">
                                <a href="#" class="btn btn-border-primary-500"
                                    >Get Started your Plan
                                    <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.3333 12C11.3333 11.364 11.8525 10.4143 12.3781 9.61714C13.0539 8.58857 13.8614 7.69114 14.7872 7.00629C15.4813 6.49286 16.3228 6 17 6M17 6C16.3228 6 15.4806 5.50714 14.7872 4.99371C13.8614 4.308 13.0539 3.41057 12.3781 2.38371C11.8525 1.58571 11.3333 0.634285 11.3333 -3.66907e-07M17 6L7.39105e-07 6" stroke="" stroke-width="1.5" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
