<!--Home 8 Section 2 -->
<section class="position-relative overflow-hidden box-about-us-8 @@class">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4">
                <div class="box-image-about-8">
                    <img src="assets/imgs/pages/home8/img-about.png" alt="Vatech" />
                    <div class="image-circle">
                        <div class="position-relative bg-dark-950 border-linear-01 icon_220 icon-shape rounded-circle">
                            <svg width="62" height="61" viewBox="0 0 62 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M49.1017 38.1349C47.8531 36.7421 47.1256 33.6429 46.7116 30.8653C46.1722 27.286 46.1787 23.7353 46.8616 20.4179C47.3739 17.9306 48.2491 15.1992 49.7321 13.8697M49.7321 13.8697C48.2491 15.1992 45.4371 15.7733 42.9104 16.0103C39.5367 16.3262 36.0064 15.9462 32.5105 15.024C29.7928 14.3082 26.7878 13.244 25.5425 11.8549M49.7321 13.8697L12.5021 47.2452" stroke="#0055FF" stroke-width="3.5" />
                            </svg>
                            <div class="position-absolute top-50 start-50 translate-middle w-100">
                                <h6 class="circle-text rotateme">Best - Consulting - Agency -</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="banner-small-title-black sub-heading-ag-sm color-white line-gradient-01">About us</div>
                <h1 class="heading-ag-3xl color-white mb-20">Tangible Outcomes: Discover Our Consulting Approach</h1>
                <p class="paragraph-rubik-r color-white desc-banner mb-60">Muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor alteraciones en alguna manera, ya sea porque</p>
                <div class="box-progress box-progress-gradient box-progress-gradient-2">
                    <div class="item-progress mb-70">
                        <div class="progress">
                            <div class="progress-bar" style="width: 80%;"></div>
                        </div>
                    </div>
                    <div class="item-progress mb-30">
                        <div class="progress">
                            <div class="progress-bar" style="width: 90%;"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <a href="#" class="btn btn-linear-03">
                        About more
                        <img src="assets/imgs/pages/home8/arrow-right.png" alt="Vatech" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
