<!--Home 4 Section 6-->
<section class="position-relative overflow-hidden box-plan-2">
    <div class="container" data-aos="fade-up">
        <div class="row position-relative align-items-end" data-aos="fade-up">
            <div class="col-lg-7">
                <div class="sub-heading-fitree-sm primary-500 text-uppercase mb-20">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="6.5" cy="6.5" r="5.75" stroke="" stroke-width="1.5" />
                    </svg>
                    Flexiable Plan
                </div>
                <h3 class="heading-48-fitree secondery-500">
                    Perfect Pricing Plan For Small<br class="d-none d-lg-block" />
                    & Large Brands
                </h3>
            </div>
            <div class="col-lg-5">
                <p class="paragraph-base">Muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor</p>
            </div>
        </div>
        <div class="box-list-pricing">
            <div class="row">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500">
                    <div class="card-pricing card-pricing-3">
                        <div class="top-pricing">
                            <div class="pricing-name">
                                <h6 class="heading-lg dark-950">
                                    Bronze<br class="d-none d-lg-block" />
                                    Package
                                </h6>
                            </div>
                            <div class="paragraph-base desc-pricing">Pricing plan for startup company</div>
                            <div class="pricing-price">
                                <span class="currency">$</span>
                                <h2>129</h2>
                                <span class="package-name">/month</span>
                            </div>
                        </div>
                        <div class="bottom-pricing">
                            <ul class="list-ticked mb-40">
                                <li>5000 User Activities</li>
                                <li>Unlimited Access</li>
                                <li>No Hidden Charge</li>
                                <li>03 Time Updates</li>
                                <li>Figma Source File</li>
                                <li>Many More Facilities</li>
                            </ul>
                            <div class="card-button text-center">
                                <a href="#" class="btn btn-primary-square-3"
                                    >Get Started your Plan
                                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.511 0.783055L4.81661 0.702544C4.59703 0.682389 4.38282 0.84421 4.33822 1.06401C4.2936 1.28379 4.43543 1.47832 4.65503 1.49846C4.67551 1.50033 4.69628 1.50064 4.71713 1.49933L9.44027 1.56894L0.29169 9.53207C0.114978 9.68588 0.0833907 9.9389 0.221164 10.0972C0.358938 10.2555 0.613874 10.259 0.790585 10.1052L9.93916 2.1421L9.35431 6.82684C9.30969 7.04661 9.45152 7.24115 9.67113 7.26128C9.89073 7.28141 10.1049 7.11961 10.1495 6.89981C10.1537 6.87932 10.1563 6.8587 10.1572 6.83818L10.8627 1.18708C10.8895 0.967364 10.7324 0.786841 10.511 0.783055Z" fill="" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                    <div class="card-pricing card-pricing-3">
                        <div class="top-pricing">
                            <div class="pricing-name">
                                <h6 class="heading-lg dark-950">
                                    Silver<br class="d-none d-lg-block" />
                                    package
                                </h6>
                            </div>
                            <div class="paragraph-base desc-pricing">Pricing plan for startup company</div>
                            <div class="pricing-price">
                                <span class="currency">$</span>
                                <h2>149</h2>
                                <span class="package-name">/month</span>
                            </div>
                        </div>
                        <div class="bottom-pricing">
                            <ul class="list-ticked mb-40">
                                <li>5000 User Activities</li>
                                <li>Unlimited Access</li>
                                <li>No Hidden Charge</li>
                                <li>03 Time Updates</li>
                                <li>Figma Source File</li>
                                <li>Many More Facilities</li>
                            </ul>
                            <div class="card-button text-center">
                                <a href="#" class="btn btn-primary-square-3"
                                    >Get Started your Plan
                                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.511 0.783055L4.81661 0.702544C4.59703 0.682389 4.38282 0.84421 4.33822 1.06401C4.2936 1.28379 4.43543 1.47832 4.65503 1.49846C4.67551 1.50033 4.69628 1.50064 4.71713 1.49933L9.44027 1.56894L0.29169 9.53207C0.114978 9.68588 0.0833907 9.9389 0.221164 10.0972C0.358938 10.2555 0.613874 10.259 0.790585 10.1052L9.93916 2.1421L9.35431 6.82684C9.30969 7.04661 9.45152 7.24115 9.67113 7.26128C9.89073 7.28141 10.1049 7.11961 10.1495 6.89981C10.1537 6.87932 10.1563 6.8587 10.1572 6.83818L10.8627 1.18708C10.8895 0.967364 10.7324 0.786841 10.511 0.783055Z" fill="" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1500">
                    <div class="card-pricing card-pricing-3">
                        <div class="top-pricing">
                            <div class="pricing-name">
                                <h6 class="heading-lg dark-950">
                                    Gold<br class="d-none d-lg-block" />
                                    Package
                                </h6>
                            </div>
                            <div class="paragraph-base desc-pricing">Pricing plan for startup company</div>
                            <div class="pricing-price">
                                <span class="currency">$</span>
                                <h2>169</h2>
                                <span class="package-name">/month</span>
                            </div>
                        </div>
                        <div class="bottom-pricing">
                            <ul class="list-ticked mb-40">
                                <li>5000 User Activities</li>
                                <li>Unlimited Access</li>
                                <li>No Hidden Charge</li>
                                <li>03 Time Updates</li>
                                <li>Figma Source File</li>
                                <li>Many More Facilities</li>
                            </ul>
                            <div class="card-button text-center">
                                <a href="#" class="btn btn-primary-square-3"
                                    >Get Started your Plan
                                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.511 0.783055L4.81661 0.702544C4.59703 0.682389 4.38282 0.84421 4.33822 1.06401C4.2936 1.28379 4.43543 1.47832 4.65503 1.49846C4.67551 1.50033 4.69628 1.50064 4.71713 1.49933L9.44027 1.56894L0.29169 9.53207C0.114978 9.68588 0.0833907 9.9389 0.221164 10.0972C0.358938 10.2555 0.613874 10.259 0.790585 10.1052L9.93916 2.1421L9.35431 6.82684C9.30969 7.04661 9.45152 7.24115 9.67113 7.26128C9.89073 7.28141 10.1049 7.11961 10.1495 6.89981C10.1537 6.87932 10.1563 6.8587 10.1572 6.83818L10.8627 1.18708C10.8895 0.967364 10.7324 0.786841 10.511 0.783055Z" fill="" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
