<!--Home 4 Section 4-->
<section class="position-relative overflow-hidden box-client-logo">
    <div class="container">
        <div class="client-logos mt-0">
            <div class="item-logo">
                <img src="assets/imgs/pages/home4/logo.svg" alt="vatech" data-aos="fade-up" data-aos-duration="500" />
            </div>
            <div class="item-logo">
                <img src="assets/imgs/pages/home4/logo2.svg" alt="vatech" data-aos="fade-up" data-aos-duration="1000" />
            </div>
            <div class="item-logo">
                <img src="assets/imgs/pages/home4/logo3.svg" alt="vatech" data-aos="fade-up" data-aos-duration="1500" />
            </div>
            <div class="item-logo">
                <img src="assets/imgs/pages/home4/logo4.svg" alt="vatech" data-aos="fade-up" data-aos-duration="2000" />
            </div>
            <div class="item-logo">
                <img src="assets/imgs/pages/home4/logo5.svg" alt="vatech" data-aos="fade-up" data-aos-duration="2500" />
            </div>
        </div>
    </div>
</section>
