<!--Home 4 Section 1-->
<section class="position-relative overflow-hidden box-banner-4">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-4">
                <div class="banner-2">
                    <div class="sub-heading-ag-sm color-white text-uppercase mb-20" data-aos="fade-up">
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="6.5" cy="6.5" r="5.75" stroke="" stroke-width="1.5" />
                        </svg>
                        Consut HR Consult
                    </div>
                    <h1 class="display-xl color-white mb-30" data-aos="fade-up">
                        Strategic Solutions for<br class="d-none d-lg-block" />
                        Sustainable Growth
                    </h1>
                    <p class="paragraph-rubik-r gray-700 desc-banner mb-40" data-aos="fade-up">We have been operating for over a decade, providing top-notch services to our clients and building a strong track record</p>

                    <div class="d-flex align-items-center" data-aos="fade-up">
                        <a href="#" class="btn btn-primary-square-2-md">
                            Schedule a consultation
                            <img src="assets/imgs/template/icons/plus-sm.svg" alt="Vatech" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mb-4 text-center" data-aos="fade-right">
                <div class="box-banner-video">
                    <img src="assets/imgs/pages/home4/banner.png" alt="Vatech" />
                    <a href="https://www.youtube.com/watch?v=TfU0qjuZkJ4" class="btn btn-play-4 popup-video"><img src="assets/imgs/pages/home4/play.svg" alt="Vatech" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
