<!--Home 4 Section 10 -->
<section class="position-relative overflow-hidden box-blog-4">
    <div class="box-blog-4-inner">
        <div class="container" data-aos="fade-up">
            <div class="text-center" data-aos="fade-up">
                <div class="sub-heading-fitree-sm color-white text-uppercase mb-20">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="6.5" cy="6.5" r="5.75" fill="white" stroke="#0055FF" stroke-width="1.5" /></svg
                    >OUR NEWS
                </div>
                <h2 class="heading-48-fitree color-white mb-30">
                    Our Latest Trending<br class="d-none d-lg-block" />
                    Blogs & News
                </h2>
            </div>
            <div class="row position-relative mt-60" data-aos="fade-up">
                <div class="col-lg-4">
                    <div class="card-blog card-blog-5">
                        <div class="card-image">
                            <a href="#"><img src="assets/imgs/pages/home4/blog2.png" alt="Vatech" /></a>
                        </div>
                        <div class="card-info">
                            <div class="card-date">
                                <span class="post-date">Nov 27, 2024</span>
                                <a href="#" class="by-category">Brending</a>
                            </div>
                            <div class="card-title">
                                <a href="#" class="link-title">A Chronicle Our Consulting Agency's Insights</a>
                                <a href="#" class="link-readmore">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-blog card-blog-5">
                        <div class="card-image">
                            <a href="#"><img src="assets/imgs/pages/home4/blog3.png" alt="Vatech" /></a>
                        </div>
                        <div class="card-info">
                            <div class="card-date">
                                <span class="post-date">Nov 27, 2024</span>
                                <a href="#" class="by-category">Brending</a>
                            </div>
                            <div class="card-title">
                                <a href="#" class="link-title">Explore Our Blog for Expert Tips and Industry News</a>
                                <a href="#" class="link-readmore">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-blog card-blog-5">
                        <div class="card-image">
                            <a href="#"><img src="assets/imgs/pages/home4/blog.png" alt="Vatech" /></a>
                        </div>
                        <div class="card-info">
                            <div class="card-date">
                                <span class="post-date">Nov 27, 2024</span>
                                <a href="#" class="by-category">Brending</a>
                            </div>
                            <div class="card-title">
                                <a href="#" class="link-title">Insights from Our Experts Consulting</a>
                                <a href="#" class="link-readmore">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
