<!--Home 4 Section 8 -->
<section class="position-relative overflow-hidden box-testimonials-4">
    <div class="container" data-aos="fade-up">
        <div class="text-center mb-5" data-aos="fade-up">
            <div class="sub-heading-fitree-sm primary-500 text-uppercase mb-20">
                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="6.5" cy="6.5" r="5.75" stroke="" stroke-width="1.5" />
                </svg>
                TESTIMONIALS
            </div>
            <h2 class="heading-48-fitree dark-950 mb-30">
                What Peoples Are Saying<br class="d-none d-lg-block" />
                Our Services
            </h2>
        </div>
        <div class="box-testimonials-lists mt-5" data-aos="fade-up">
            <div class="box-swiper">
                <div class="swiper-container slider-group-2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card-testimonials-2 card-testimonials-4">
                                <div class="card-author">
                                    <div class="author-image">
                                        <img src="assets/imgs/pages/home2/author.png" alt="Vatech" />
                                    </div>
                                    <div class="author-info">
                                        <div>
                                            <h5 class="sub-heading-ag-xl secondery-600">Esther Howard</h5>
                                            <p class="paragraph-18-fitree secondery-600">Businessman</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-text">Lorem ipsum dolor sit amet consectetur. In non sodales elementum et te pus ac platea velit semper. Non morbi aliqu alesuada.</div>
                                <div class="card-author-rating">
                                    <div class="card-author-name">Los Angeles, CA</div>
                                    <div class="rating">
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-testimonials-2 card-testimonials-4">
                                <div class="card-author">
                                    <div class="author-image">
                                        <img src="assets/imgs/pages/home2/author2.png" alt="Vatech" />
                                    </div>
                                    <div class="author-info">
                                        <div>
                                            <h5 class="sub-heading-ag-xl secondery-600">Johnson Hamilton</h5>
                                            <p class="paragraph-18-fitree secondery-600">Businessman</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-text">Lorem ipsum dolor sit amet consectetur. In non sodales elementum et te pus ac platea velit semper. Non morbi aliqu alesuada.</div>
                                <div class="card-author-rating">
                                    <div class="card-author-name">Los Angeles, CA</div>
                                    <div class="rating">
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-testimonials-2 card-testimonials-4">
                                <div class="card-author">
                                    <div class="author-image">
                                        <img src="assets/imgs/pages/home4/author.png" alt="Vatech" />
                                    </div>
                                    <div class="author-info">
                                        <div>
                                            <h5 class="sub-heading-ag-xl secondery-600">Esther Howard</h5>
                                            <p class="paragraph-18-fitree secondery-600">Businessman</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-text">Lorem ipsum dolor sit amet consectetur. In non sodales elementum et te pus ac platea velit semper. Non morbi aliqu alesuada.</div>
                                <div class="card-author-rating">
                                    <div class="card-author-name">Los Angeles, CA</div>
                                    <div class="rating">
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                        <img src="assets/imgs/template/icons/star-24.svg" alt="Vatech" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-style-2"></div>
            </div>
        </div>
    </div>
</section>
