<!-- Blog Sidebar Section 1 -->
<section class="box-faq-single-banner box-blog-single-banner">
    <div class="box-faq-single-banner-inner">
        <div class="container" data-aos="fade-up">
            <h1 class="display-ag-2xl color-white">Team</h1>
            <div class="box-breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span>Team</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
