<!--Home 2 Section 8 -->
<section class="position-relative overflow-hidden box-consultants">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-end">
            <div class="col-lg-7 mb-30">
                <div class="banner-small-title-black">Pricing Plan</div>
                <h2 class="heading-ag-3xl dark-950">
                    Pricing Plan For your<br class="d-none d-lg-block" />
                    Consulting Solution
                </h2>
            </div>
            <div class="col-lg-5 text-center text-lg-end mb-30">
                <div class="box-button-change-package">
                    <a href="#" data-type="monthly" class="btn btn-default btn-active"> Monthly </a>
                    <a href="#" data-type="yearly" class="btn btn-default"> Yearly </a>
                </div>
            </div>
        </div>
        <div class="box-list-pricing" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card-pricing-2">
                        <div class="top-pricing">
                            <div class="pricing-name">
                                <h6 class="heading-ag-lg dark-950">Exclusive Package</h6>
                                <div class="pricing-icon">
                                    <img src="assets/imgs/pages/home2/exclusive.svg" class="light-mode" alt="Vatech" />
                                    <img src="assets/imgs/pages/home2/exclusive-w.svg" class="dark-mode" alt="Vatech" />
                                </div>
                            </div>
                            <div class="paragraph-rubik-m desc-pricing dark-950">Start at</div>
                            <div class="pricing-price">
                                <h2 class="heading-ag-xl package-item monthly" style="display: block;">$229</h2>
                                <h2 class="heading-ag-xl package-item yearly">$2,748</h2>
                            </div>
                        </div>
                        <div class="bottom-pricing">
                            <ul class="list-ticked mb-40">
                                <li>5000 User Activities</li>
                                <li>Unlimited Access</li>
                                <li>No Hidden Charge</li>
                                <li>03 Time Updates</li>
                                <li>Figma Source File</li>
                                <li>Many More Facilities</li>
                            </ul>
                            <div class="card-button text-center">
                                <a href="#" class="btn btn-border-950">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card-pricing-2">
                        <div class="top-pricing">
                            <div class="pricing-name">
                                <h6 class="heading-ag-lg dark-950">Standard Package</h6>
                                <div class="pricing-icon">
                                    <img src="assets/imgs/pages/home2/standard.svg" class="light-mode" alt="Vatech" />
                                    <img src="assets/imgs/pages/home2/standard-w.svg" class="dark-mode" alt="Vatech" />
                                </div>
                            </div>
                            <div class="paragraph-rubik-m desc-pricing dark-950">Start at</div>
                            <div class="pricing-price">
                                <h2 class="heading-ag-xl package-item monthly" style="display: block;">$129</h2>
                                <h2 class="heading-ag-xl package-item yearly">$1,548</h2>
                            </div>
                        </div>
                        <div class="bottom-pricing">
                            <ul class="list-ticked mb-40">
                                <li>5000 User Activities</li>
                                <li>Unlimited Access</li>
                                <li>No Hidden Charge</li>
                                <li>03 Time Updates</li>
                                <li>Figma Source File</li>
                                <li>Many More Facilities</li>
                            </ul>
                            <div class="card-button text-center">
                                <a href="#" class="btn btn-border-950">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card-pricing-2">
                        <div class="top-pricing">
                            <div class="pricing-name">
                                <h6 class="heading-ag-lg dark-950">Premium Package</h6>
                                <div class="pricing-icon">
                                    <img src="assets/imgs/pages/home2/premium.svg" class="light-mode" alt="Vatech" />
                                    <img src="assets/imgs/pages/home2/premium-w.svg" class="dark-mode" alt="Vatech" />
                                </div>
                            </div>
                            <div class="paragraph-rubik-m desc-pricing dark-950">Start at</div>
                            <div class="pricing-price">
                                <h2 class="heading-ag-xl package-item monthly" style="display: block;">$329</h2>
                                <h2 class="heading-ag-xl package-item yearly">$3,948</h2>
                            </div>
                        </div>
                        <div class="bottom-pricing">
                            <ul class="list-ticked mb-40">
                                <li>5000 User Activities</li>
                                <li>Unlimited Access</li>
                                <li>No Hidden Charge</li>
                                <li>03 Time Updates</li>
                                <li>Figma Source File</li>
                                <li>Many More Facilities</li>
                            </ul>
                            <div class="card-button text-center">
                                <a href="#" class="btn btn-border-950">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
