<!--Home 2 Section 1-->
<section class="position-relative overflow-hidden box-banner-2">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-center">
            <div class="col-lg-6 mt-5">
                <div class="banner-2">
                    <div class="banner-small-title-black">Solutions</div>
                    <h1 class="title-banner-black mb-20">
                        Precision Consulting<br class="d-none d-lg-block" />
                        Profound Results
                    </h1>
                    <p class="paragraph-rubik-r neutral-1200 desc-banner mb-40">We have been operating for over a decade, providing top-notch services to our clients and building a strong track record in the industry.</p>
                    <div class="d-flex align-items-center flex-wrap">
                        <a href="#" class="btn btn-primary-square-2 mb-3">
                            Discover More
                            <img src="assets/imgs/template/icons/plus-sm.svg" alt="Vatech" />
                        </a>
                        <span class="mr-20"></span>
                        <div class="d-inline-block mb-3">
                            <div class="box-need-help">
                                <p>Need help?</p>
                                <h6 class="heading-md">(307) 555-0133</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <img src="assets/imgs/pages/home2/banner.png" alt="Vatech" class="parallax-item" />
            </div>
        </div>
    </div>
</section>
