<!--Home 2 Section 3 -->
<section class="position-relative overflow-hidden box-projects-home2">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-end">
            <div class="col-lg-7 mb-30">
                <div class="banner-small-title-black">Projects</div>
                <h2 class="heading-ag-3xl dark-950">
                    Market Entry Strategy Develop<br class="d-none d-lg-block" />
                    for Global Expansion
                </h2>
            </div>
            <div class="col-lg-5 mb-30">
                <p class="mb-20 paragraph-rubik-r">Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor</p>
                <a href="#" class="btn btn-primary-square-border">
                    Browse all project
                    <img src="assets/imgs/template/icons/plus-black.svg" alt="Vatech" />
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5" data-aos="fade-up">
        <div class="box-list-projects">
            <div class="item-project">
                <div class="card-project-9">
                    <div class="card-image">
                        <img src="assets/imgs/pages/home2/project.png" alt="Vatech" />
                    </div>
                    <div class="card-info">
                        <a href="#" class="heading-lg">Change Management Solutions</a>
                    </div>
                </div>
            </div>
            <div class="item-project mt-5">
                <div class="card-project-9">
                    <div class="card-image">
                        <img src="assets/imgs/pages/home2/project2.png" alt="Vatech" />
                    </div>
                    <div class="card-info">
                        <a href="#" class="heading-lg">Change Management Solutions</a>
                    </div>
                </div>
            </div>
            <div class="item-project">
                <div class="card-project-9">
                    <div class="card-image">
                        <img src="assets/imgs/pages/home2/project3.png" alt="Vatech" />
                    </div>
                    <div class="card-info">
                        <a href="#" class="heading-lg">Change Management Solutions</a>
                    </div>
                </div>
            </div>
            <div class="item-project mt-5">
                <div class="card-project-9">
                    <div class="card-image">
                        <img src="assets/imgs/pages/home2/project4.png" alt="Vatech" />
                    </div>
                    <div class="card-info">
                        <a href="#" class="heading-lg">Change Management Solutions</a>
                    </div>
                </div>
            </div>
            <div class="item-project">
                <div class="card-project-9">
                    <div class="card-image">
                        <img src="assets/imgs/pages/home2/project5.png" alt="Vatech" />
                    </div>
                    <div class="card-info">
                        <a href="#" class="heading-lg">Change Management Solutions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
