<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "About Us - Vatech HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-1.html",{ "classList": "navbar-light w-100" })
        <main>
            <!-- prettier-ignore -->
            <!--@@include("../partials/head.html",{ "title": "About Us"} )-->
            @@include("../sections/home5/section-2.html") 
            @@include("../sections/about-us-4/section-1.html",{ "class":"style-no-bg p-0"})
            <!--@@include("../sections/home5/section-4.html")
            @@include("../sections/home5/section-6.html")  
            @@include("../sections/pricing/section-2.html")-->
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-8.html", {"class":"footer-linear-02"})
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
