<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "About Us 3 - Vatech HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-12.html",{ "classList": "navbar-light navbar-green w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../partials/head.html",{ "title": "About Us", "class":"box-blog-single-banner"} ) 
            @@include("../sections/about-us-3/section-1.html") 
            @@include("../sections/home7/section-4.html") 
            @@include("../sections/home7/section-6.html") 
            @@include("../sections/home7/section-8.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-6.html")
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
