<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "About Us 4 - Vatech HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-12.html",{ "classList": "navbar-light navbar-green w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../partials/head.html",{ "title": "About Us", "class":"box-blog-single-banner"} ) 
            @@include("../sections/about-us-4/section-2.html",{ "class":"style-green-about-3"}) 
            @@include("../sections/home12/section-9.html",{ "class":"style-green"}) 
            @@include("../sections/about-us-4/section-1.html",{ "class":"style-no-bg p-0"}) 
            @@include("../sections/home12/section-10.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-13.html") 
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
