<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "FAQ'S - Vatech HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-12.html",{ "classList": "navbar-light w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../partials/head.html",{ "title": "FAQ's"} ) 
            @@include("../sections/faq/section-2.html") 
            @@include("../sections/faq/section-3.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-11.html") 
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
