<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "Home 15 - Technology Solutions & Business HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-14.html",{ "classList": "navbar-light navbar-transparent w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../sections/home15/section-1.html") 
            @@include("../sections/home15/section-2.html", {"class":"box-features-15"})
            @@include("../sections/home15/section-3.html", {"class":"box-pd-120"})
            @@include("../sections/home15/section-4.html", {"class":"box-pd-120"})
            @@include("../sections/home15/section-5.html", {"class":"box-pd-120"})
            @@include("../sections/home15/section-6.html", {"class":"box-pd-120 box-pricing-15"})
            @@include("../sections/home15/section-7.html", {"class":"box-pd-120"})
            @@include("../sections/home15/section-8.html", {"class":"box-pd-120 box-video-15"})
            @@include("../sections/home15/section-9.html", {"class":"box-pd-120 box-expert-team-15"})
            @@include("../sections/home15/section-10.html", {"class":"box-pd-120"})
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-14.html", {"class":"footer-blue"})
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
