<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "Home 16 - Technology Solutions & Business HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-15.html",{ "classList": "navbar-light w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../sections/home16/section-1.html") 
            @@include("../sections/home16/section-2.html")
            @@include("../sections/home16/section-3.html", {"class":"box-process-16"})
            @@include("../sections/home16/section-pricing.html", {"class":"box-pricing-16 box-pd-120"})
            @@include("../sections/home16/section-4.html", {"class":"box-project-16 bg-dark-950 box-pd-120"})
            @@include("../sections/home16/section-5.html", {"class":"box-team-16 box-pd-120"})
            @@include("../sections/home16/section-6.html", {"class":"box-testimonials-16 box-pd-120"})
            @@include("../sections/home16/section-7.html", {"class":"box-faq-16"})
            @@include("../sections/home16/section-8.html", {"class":"box-contact-16"})
            @@include("../sections/home16/section-9.html", {"class":"box-blogs-16"})
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-15.html") 
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
