<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "Home 3 - Technology Solutions & Business HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-3.html",{ "classList": "navbar-light w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../sections/home3/section-1.html") 
            @@include("../sections/home3/section-2.html") 
            @@include("../sections/home3/section-3.html")
            @@include("../sections/home3/section-4.html")
            @@include("../sections/home3/section-5.html")
            @@include("../sections/home3/section-6.html")
            @@include("../sections/home3/section-7.html")
            @@include("../sections/home3/section-8.html")
            @@include("../sections/home3/section-9.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-2.html",{"class":"footer-style-home-3"}) 
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
