<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "Home 10 - Technology Solutions & Business HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-10.html",{ "classList": "navbar-light w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../sections/home10/section-1.html") 
            @@include("../sections/home10/section-2.html")
            @@include("../sections/home10/section-3.html")
            @@include("../sections/home10/section-4.html")
            @@include("../sections/home10/section-5.html")
            @@include("../sections/home10/section-6.html")
            @@include("../sections/home10/section-7.html")
            @@include("../sections/home10/section-8.html")
            @@include("../sections/home10/section-9.html")
            @@include("../sections/home10/section-10.html")
            @@include("../sections/home1/section-11.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-3.html") 
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
