<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "Vatech - Technology Solutions & Business HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-1.html",{ "classList": "navbar-light w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../sections/home1/section-1.html") 
            @@include("../sections/home1/section-2.html") 
            @@include("../sections/home1/section-3.html")
            <!--@@include("../sections/home1/section-4.html")
            @@include("../sections/home1/section-5.html")
            @@include("../sections/home1/section-6.html")
            @@include("../sections/home1/section-7.html")
            @@include("../sections/home1/section-8.html")-->
            @@include("../sections/home1/section-9.html")
            <!--@@include("../sections/home1/section-10.html")-->
            @@include("../sections/home1/section-11.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-8.html", {"class":"footer-linear-02"})
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
