<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "Home 14 - Technology Solutions & Business HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-13.html",{ "classList": "navbar-light navbar-transparent w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../sections/home14/section-1.html") 
            @@include("../sections/home14/section-2.html")
            @@include("../sections/home14/section-3.html")
            @@include("../sections/home14/section-text-slide.html")
            @@include("../sections/home14/section-project.html")
            @@include("../sections/home14/section-team.html", {"class":"box-team-14"}) 
            @@include("../sections/home14/section-video.html", {"class":"box-video-14"})
            @@include("../sections/home14/section-testimonials.html")
            @@include("../sections/home14/section-chat.html")
            @@include("../sections/home14/section-blog.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-2.html", {"class":"footer-blue footer-style-home-9 footer-style-home-14"})
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
