<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "Project detail - Vatech HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-12.html",{ "classList": "navbar-light navbar-green w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../partials/head.html",{ "title": "Project Detail", "class":"box-blog-single-banner"} ) 
            @@include("../sections/project-detail/section-1.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-13.html") 
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
