<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "Service Page 3 - Vatech HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-12.html",{ "classList": "navbar-light navbar-linear w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../partials/head.html",{ "title": "Service Page", "class":"box-linear-single-banner"} ) 
            @@include("../sections/service-3/section-1.html", {"class":""}) 
            @@include("../sections/service-3/section-2.html", {"class":""}) 
            @@include("../sections/home8/section-8.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-7.html", {"class":"footer-blue"})
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
