<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "Service Detail 2 - Vatech HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-1.html",{ "classList": "navbar-light navbar-blue w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../partials/head-custom.html",{ "title": "Services Details", "class":"box-blue-single-banner"} )
            @@include("../sections/service-detail-2/section-1.html", {"class":"section-service-detail-blue"}) 
            @@include("../sections/blog-sidebar/section-3.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-13.html", {"class":"footer-blue"})
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
