<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "Service Page 2 - Vatech HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-12.html",{ "classList": "navbar-light navbar-blue w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../partials/head.html",{ "title": "Service Page", "class":"box-blue-single-banner"} ) 
            @@include("../sections/service-2/section-1.html", {"class":""}) 
            @@include("../sections/service-2/section-2.html", {"class":"box-number-faq-black"}) 
            @@include("../sections/home13/section-blog.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-13.html", {"class":"footer-blue"})
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
