<!doctype html>
<html lang="en">
    <head>
        @@include("../partials/head-links.html", {"title": "Service Page 4 - Vatech HTML Template"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-12.html",{ "classList": "navbar-light navbar-green w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../partials/head.html",{ "title": "Service Page", "class":"box-blog-single-banner"} ) 
            @@include("../sections/service-4/section-1.html", {"class":"box-sec1-services-4"}) 
            @@include("../sections/service-4/section-2.html", {"class":"box-sec2-services-4"}) 
            @@include("../sections/home11/section-5.html")
            @@include("../sections/home11/section-9.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-8.html", {"class":"footer-blue"})
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
