<!--Home 3 Section 4 -->
<section class="position-relative overflow-hidden box-case-studies">
    <div class="container" data-aos="fade-up">
        <div class="text-center">
            <p class="sub-heading-ag-sm color-white text-uppercase">CASE STUDIES</p>
            <h2 class="heading-ag-3xl color-white">
                Explore Our Consulting Agency’s<br class="d-none d-lg-block" />
                Latest Case Studies
            </h2>
        </div>
        <div class="box-button-filter">
            <a href="#" class="btn btn-filter filter-content active" data-filter="all">View All</a>
            <a href="#" class="btn btn-filter filter-content" data-filter="market">market Research</a>
            <a href="#" class="btn btn-filter filter-content" data-filter="project">Project Management</a>
            <a href="#" class="btn btn-filter filter-content" data-filter="marketing">Marketing</a>
            <a href="#" class="btn btn-filter filter-content" data-filter="financial">Financial Consulting</a>
        </div>
        <div class="row row-masonry align-items-center">
            <div class="col-lg-4 mb-30 item-filter market project">
                <img src="assets/imgs/pages/home3/case.png" class="w-100" alt="Vatech" />
            </div>
            <div class="col-lg-4 mb-30 item-filter marketing financial">
                <img src="assets/imgs/pages/home3/case2.png" class="w-100" alt="Vatech" />
            </div>
            <div class="col-lg-4 mb-30 item-filter market financial">
                <img src="assets/imgs/pages/home3/case3.png" class="w-100" alt="Vatech" />
            </div>
            <div class="col-lg-4 mb-30 item-filter market marketing">
                <img src="assets/imgs/pages/home3/case4.png" class="w-100" alt="Vatech" />
            </div>
            <div class="col-lg-4 mb-30 item-filter project project">
                <img src="assets/imgs/pages/home3/case5.png" class="w-100" alt="Vatech" />
            </div>
            <div class="col-lg-4 mb-30 item-filter project market marketing">
                <img src="assets/imgs/pages/home3/case6.png" class="w-100" alt="Vatech" />
            </div>
        </div>
    </div>
</section>
