<!--Home 3 Section 1-->
<section class="position-relative overflow-hidden box-banner-3">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-end">
            <div class="col-lg-6 mb-4">
                <div class="banner-2">
                    <div class="sub-heading-ag-sm primary-home text-uppercase">Features</div>
                    <h1 class="heading-ag-3xl neutral-1300 mb-20">
                        Strategic Solutions for<br class="d-none d-lg-block" />
                        Sustainable Growth
                    </h1>
                    <p class="paragraph-rubik-r gray-700 desc-banner mb-40">There are many variations of passages of Lorem Ipsum thei available, but the majority have There are many variations of passages of Lorem There are many variations of passages of Lorem Ipsum thei available,</p>
                    <div class="box-progress">
                        <div class="item-progress">
                            <h6 class="sub-heading-ag-sm gray-800 mb-2">Consulting</h6>
                            <div class="progress">
                                <div class="progress-bar" style="width: 80%;"></div>
                            </div>
                        </div>
                        <div class="item-progress">
                            <h6 class="sub-heading-ag-sm gray-800 mb-2">Advisors</h6>
                            <div class="progress">
                                <div class="progress-bar" style="width: 90%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="#" class="btn btn-primary-home">
                            Read More
                            <img src="assets/imgs/template/icons/plus-sm.svg" alt="Vatech" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4 text-center text-lg-end">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="box-image-banner-3-1">
                            <img src="assets/imgs/pages/home3/banner.png" class="w-100" alt="Vatech" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box-image-banner-3-2">
                            <img src="assets/imgs/pages/home3/banner2.png" class="w-100" alt="Vatech" />
                        </div>
                        <div class="box-experience">
                            <div class="icon-experience">
                                <div class="image-exp">
                                    <img src="assets/imgs/pages/home3/experience.svg" alt="Vatech" />
                                </div>
                            </div>
                            <div class="info-exp">
                                <h3><span class="odometer" data-count="25"></span> <span class="d-inline-block align-middle">Years</span></h3>
                                <p>Experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
