<!--Home 3 Section 2 -->
<section class="position-relative overflow-hidden box-features">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-4">
                <div class="card-feature">
                    <div class="card-title-icon">
                        <div class="card-icon">
                            <img src="assets/imgs/pages/home3/process.png" alt="Vatech" />
                        </div>
                        <div class="card-title">
                            <h6 class="sub-heading-ag-xl">
                                How To Process <br />
                                Business Plan?
                            </h6>
                        </div>
                    </div>
                    <div class="card-info">
                        <p>Lorem Ipsum thei available, but the majority have There are many variations of passages</p>
                        <a href="#" class="btn btn-white-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-feature">
                    <div class="card-title-icon">
                        <div class="card-icon">
                            <img src="assets/imgs/pages/home3/business.png" alt="Vatech" />
                        </div>
                        <div class="card-title">
                            <h6 class="sub-heading-ag-xl">Business Consulting Program Plan</h6>
                        </div>
                    </div>
                    <div class="card-info">
                        <p>Lorem Ipsum thei available, but the majority have There are many variations of passages</p>
                        <a href="#" class="btn btn-white-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-feature">
                    <div class="card-title-icon">
                        <div class="card-icon">
                            <img src="assets/imgs/pages/home3/identify.png" alt="Vatech" />
                        </div>
                        <div class="card-title">
                            <h6 class="sub-heading-ag-xl">Identifying To <br />your Needs</h6>
                        </div>
                    </div>
                    <div class="card-info">
                        <p>Lorem Ipsum thei available, but the majority have There are many variations of passages</p>
                        <a href="#" class="btn btn-white-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
