<!--Home 2 Section 6 -->
<section class="position-relative overflow-hidden box-get-touch">
    <div class="container" data-aos="fade-up">
        <div class="box-touch">
            <div class="touch-left">
                <h3 class="display-ag-2xl color-white mb-2 text-uppercase">Be Ready to go your Business Consulting Program</h3>
                <p class="paragraph-rubik-r color-white mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu Ut enim ad minima veniam, quis nostrum exercitationem</p>
                <a href="#" class="btn btn-black">GET IN TOUCH</a>
            </div>
            <div class="touch-right">
                <div class="bg-trans-w">
                    <a href="https://www.youtube.com/watch?v=TfU0qjuZkJ4" class="popup-video"><img src="assets/imgs/template/icons/play-black.svg" alt="Vatech" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
