<!--Home 10 Section 5 -->
<section class="box-section overflow-hidden box-testimonials-4">
    <div class="container" data-aos="fade-up">
        <div class="text-center mb-5">
            <div class="text-center">
                <div class="paragraph-base-fitree-bold text-underline text-uppercase primary-500 mb-1">Lastest Project</div>
                <h2 class="heading-48-fitree dark-950 mb-4">
                    Take a look Our Completed<br class="d-none d-lg-block" />
                    Latest projects
                </h2>
            </div>
        </div>
        <div class="box-testimonials-lists mt-5">
            <div class="box-swiper">
                <div class="swiper-container slider-group-4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card-project-3">
                                <div class="card-image">
                                    <img src="assets/imgs/pages/home10/project.png" alt="Vatech" />
                                </div>
                                <div class="card-info">
                                    <a href="#"><h4 class="heading-24-fitree secondery-500">Financial Solution</h4></a>
                                    <p class="paragraph-base dark-950-70">Digital Project</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-project-3">
                                <div class="card-image">
                                    <img src="assets/imgs/pages/home10/project2.png" alt="Vatech" />
                                </div>
                                <div class="card-info">
                                    <a href="#"><h4 class="heading-24-fitree secondery-500">Business Consulting</h4></a>
                                    <p class="paragraph-base dark-950-70">Digital Project</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-project-3">
                                <div class="card-image">
                                    <img src="assets/imgs/pages/home10/project3.png" alt="Vatech" />
                                </div>
                                <div class="card-info">
                                    <a href="#"><h4 class="heading-24-fitree secondery-500">Digital Analysis</h4></a>
                                    <p class="paragraph-base dark-950-70">Digital Project</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-project-3">
                                <div class="card-image">
                                    <img src="assets/imgs/pages/home10/project4.png" alt="Vatech" />
                                </div>
                                <div class="card-info">
                                    <a href="#"><h4 class="heading-24-fitree secondery-500">Technologies Software</h4></a>
                                    <p class="paragraph-base dark-950-70">Digital Project</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-project-3">
                                <div class="card-image">
                                    <img src="assets/imgs/pages/home10/project.png" alt="Vatech" />
                                </div>
                                <div class="card-info">
                                    <a href="#"><h4 class="heading-24-fitree secondery-500">Financial Solution</h4></a>
                                    <p class="paragraph-base dark-950-70">Digital Project</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-style-2"></div>
            </div>
        </div>
    </div>
</section>
