<!--Home 10 Section 8 -->
<section class="box-section overflow-hidden box-faqs box-faqs-10">
    <div class="container">
        <div class="row align-items-start position-relative">
            <div class="col-lg-6 mb-4">
                <div class="box-images-faq-inner">
                    <div class="images-faq-1">
                        <img class="wow img-custom-anim-top" src="assets/imgs/pages/home10/img-faq2.png" class="w-100" alt="Vatech" />
                    </div>
                    <div class="images-faq-2">
                        <div class="position-relative box-img-faq-10">
                            <img class="wow img-custom-anim-top" src="assets/imgs/pages/home10/img-faq.png" alt="Vatech" />
                            <img class="wow img-custom-anim-top" src="assets/imgs/pages/home1/support-247.png" class="support-247" alt="Vatech" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4" data-aos="fade-up">
                <h6 class="paragraph-base-fitree-bold text-underline text-uppercase primary-500 mb-1">Ask questions</h6>
                <h3 class="heading-3xl mb-30">Have Any Question? Find Answer Below</h3>
                <div class="block-faqs">
                    <div class="accordion" id="accordionFAQ">
                        <div class="accordion-item wow fadeInUp">
                            <h5 class="accordion-header" id="headingOne">
                                <button class="accordion-button text-heading-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <p>What the Cost of Services Help desk or Support?</p>
                                </button>
                            </h5>
                            <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es</div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp">
                            <h5 class="accordion-header" id="headingTwo">
                                <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <p>What Do you Services For Digital Agency?</p>
                                </button>
                            </h5>
                            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es</div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp">
                            <h5 class="accordion-header" id="headingThree">
                                <button class="accordion-button text-heading-5 collapsed text-heading-5 type=" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <p>What types of Scale Help Desk?</p>
                                </button>
                            </h5>
                            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
