<!--Home 10 Section 6 -->
<section class="box-section overflow-hidden box-our-team">
    <div class="container" data-aos="fade-up">
        <div class="text-center mb-5">
            <div class="text-center">
                <div class="paragraph-base-fitree-bold text-underline text-uppercase primary-500 mb-1">Dedicated Team</div>
                <h2 class="heading-48-fitree dark-950 mb-4">Professional Team Members</h2>
            </div>
        </div>
        <div class="box-teams box-teams-10">
            <div class="box-swiper">
                <div class="swiper-container slider-group-3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card-team card-team-3">
                                <div class="card-social">
                                    <a href="#" class="share"></a>
                                    <a href="#" class="share fb"></a>
                                    <a href="#" class="share tw"></a>
                                    <a href="#" class="share printest"></a>
                                </div>
                                <div class="card-image">
                                    <div class="card-image-inner">
                                        <img class="wow img-custom-anim-top" src="assets/imgs/pages/home10/team.png" alt="Vatech" />
                                    </div>
                                </div>
                                <div class="card-info">
                                    <h6>Ambrose Halley</h6>
                                    <p>Managing Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-team card-team-3">
                                <div class="card-social">
                                    <a href="#" class="share"></a>
                                    <a href="#" class="share fb"></a>
                                    <a href="#" class="share tw"></a>
                                    <a href="#" class="share printest"></a>
                                </div>
                                <div class="card-image">
                                    <div class="card-image-inner">
                                        <img class="wow img-custom-anim-top" src="assets/imgs/pages/home10/team2.png" alt="Vatech" />
                                    </div>
                                </div>
                                <div class="card-info">
                                    <h6>Ensiles Helicon</h6>
                                    <p>Hr. Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-team card-team-3">
                                <div class="card-social">
                                    <a href="#" class="share"></a>
                                    <a href="#" class="share fb"></a>
                                    <a href="#" class="share tw"></a>
                                    <a href="#" class="share printest"></a>
                                </div>
                                <div class="card-image">
                                    <div class="card-image-inner">
                                        <img class="wow img-custom-anim-top" src="assets/imgs/pages/home10/team3.png" alt="Vatech" />
                                    </div>
                                </div>
                                <div class="card-info">
                                    <h6>Emely Haider</h6>
                                    <p>Hr Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-team card-team-3">
                                <div class="card-social">
                                    <a href="#" class="share"></a>
                                    <a href="#" class="share fb"></a>
                                    <a href="#" class="share tw"></a>
                                    <a href="#" class="share printest"></a>
                                </div>
                                <div class="card-image">
                                    <div class="card-image-inner">
                                        <img class="wow img-custom-anim-top" src="assets/imgs/pages/home10/team.png" alt="Vatech" />
                                    </div>
                                </div>
                                <div class="card-info">
                                    <h6>Ensiles Helicon</h6>
                                    <p>Hr. Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-team card-team-3">
                                <div class="card-social">
                                    <a href="#" class="share"></a>
                                    <a href="#" class="share fb"></a>
                                    <a href="#" class="share tw"></a>
                                    <a href="#" class="share printest"></a>
                                </div>
                                <div class="card-image">
                                    <div class="card-image-inner">
                                        <img class="wow img-custom-anim-top" src="assets/imgs/pages/home10/team.png" alt="Vatech" />
                                    </div>
                                </div>
                                <div class="card-info">
                                    <h6>Emely Haider</h6>
                                    <p>Hr Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
