<!--Home 10 Section 7 -->
<section class="box-section overflow-hidden box-video-10">
    <div class="container" data-aos="fade-up">
        <div class="text-center">
            <h4 class="heading-48-fitree color-white mb-3">
                Starte today or never in life,<br class="d-none d-lg-block" />
                You’ll have the time
            </h4>
            <p class="paragraph-18-fitree gray-50 mb-4">
                Muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la<br class="d-none d-lg-block" />
                mayoría sufrió alteraciones en alguna manera
            </p>
            <a href="https://www.youtube.com/watch?v=TfU0qjuZkJ4" class="popup-video"><img src="assets/imgs/pages/home10/play.svg" alt="Vatech" /></a>
        </div>
    </div>
</section>
