<!-- FAQ Section 2 -->
<section class="box-section box-clients-5 box-clients-6">
    <div class="bg-number"></div>
    <div class="container" data-aos="fade-up">
        <div class="box-numbers">
            <div class="item-number">
                <div class="item-number-image">
                    <img src="assets/imgs/pages/home5/client.png" alt="Vatech" />
                </div>
                <div class="item-numner-info">
                    <h3 class="heading-ag-3xl"><span class="odometer" data-count="10"></span><span class="d-inline-block align-middle">+</span></h3>
                    <p class="sub-heading-ag-lg">Clients Review</p>
                </div>
            </div>
            <div class="item-number">
                <div class="item-number-image">
                    <img src="assets/imgs/pages/home5/client.png" alt="Vatech" />
                </div>
                <div class="item-numner-info">
                    <h3 class="heading-ag-3xl"><span class="odometer" data-count="10"></span><span class="d-inline-block align-middle">+</span></h3>
                    <p class="sub-heading-ag-lg">Team member</p>
                </div>
            </div>
            <div class="item-number">
                <div class="item-number-image">
                    <img src="assets/imgs/pages/home5/client.png" alt="Vatech" />
                </div>
                <div class="item-numner-info">
                    <h3 class="heading-ag-3xl"><span class="odometer" data-count="20"></span><span class="d-inline-block align-middle">+</span></h3>
                    <p class="sub-heading-ag-lg">Winning award</p>
                </div>
            </div>
            <div class="item-number">
                <div class="item-number-image">
                    <img src="assets/imgs/pages/home5/client.png" alt="Vatech" />
                </div>
                <div class="item-numner-info">
                    <h3 class="heading-ag-3xl"><span class="odometer" data-count="20"></span><span class="d-inline-block align-middle">+</span></h3>
                    <p class="sub-heading-ag-lg">project Done</p>
                </div>
            </div>
        </div>
        <div class="block-form-contact">
            <div class="row">
                <div class="col-lg-7">
                    <div class="box-form-contact">
                        <div class="banner-small-title-black line-primary-home mb-2">Message</div>
                        <h2 class="heading-ag-3xl dark-950 mb-5">
                            your business to growth<br class="d-none d-lg-block" />
                            please touch ?
                        </h2>
                        <div class="form-contact">
                            <form class="form" action="#">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control user" placeholder="Name Here" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control phone" placeholder="Contact Here" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control email" placeholder="Email Address Here" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="5" placeholder="Message Here"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-submit" value="Contact us" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
