<!--Home 16 Section 9 -->
<section class="position-relative overflow-hidden @@class">
    <div class="container" data-aos="fade-up">
        <div class="row position-relative align-items-end">
            <div class="col-lg-9 mb-4">
                <h6 class="paragraph-base-fitree-bold text-underline text-uppercase secondery-500 mb-2">OUR NEWS</h6>
                <h3 class="heading-3xl secondery-500">
                    Our Latest Trending<br class="d-none d-lg-block" />
                    Blogs &amp; News
                </h3>
            </div>
            <div class="col-lg-3 mb-4 text-center text-lg-end">
                <a href="#" class="btn btn-secondery-500">Explore More</a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card-blog card-blog-2 card-blog-10">
                    <div class="card-image">
                        <a href="#"><img class="wow img-custom-anim-top" src="assets/imgs/pages/home16/news2.png" alt="Vatech" /></a>
                        <span class="card-date">25 January</span>
                    </div>
                    <div class="card-info">
                        <div class="card-meta">
                            <span class="comment">Comments</span>
                            <span class="by-user">By Admin</span>
                        </div>
                        <div class="card-title">
                            <a href="#" class="link-title heading-ag-lg">Your Source for Consulting Insights and Updates</a>
                            <a href="#" class="btn btn-border-950">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-blog card-blog-2 card-blog-10">
                    <div class="card-image">
                        <a href="#"><img class="wow img-custom-anim-top" src="assets/imgs/pages/home16/news.png" alt="Vatech" /></a>
                        <span class="card-date">25 January</span>
                    </div>
                    <div class="card-info">
                        <div class="card-meta">
                            <span class="comment">Comments</span>
                            <span class="by-user">By Admin</span>
                        </div>
                        <div class="card-title">
                            <a href="#" class="link-title heading-ag-lg">Breaking Down Complex Issues in Our Consulting Agency Blog</a>
                            <a href="#" class="btn btn-border-950">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
