<!--Home 16 Section 7 -->
<section class="box-section overflow-hidden @@class">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-center position-relative">
            <div class="col-lg-6 mb-4">
                <div class="box-images-faq-inner">
                    <img src="assets/imgs/pages/home16/faq.png" class="w-100" alt="Vatech" />
                    <div class="box-num-years">
                        <div class="box-left"><span class="odometer" data-count="24"></span></div>
                        <div class="box-right">
                            Years<br />
                            Experiences
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <h6 class="paragraph-base-fitree-bold text-uppercase primary-500 mb-1">FREQUENTLY QUESTIONS</h6>
                <h3 class="heading-3xl mb-30">
                    Have Any Question? Find<br />
                    Answer Below
                </h3>
                <div class="block-faqs">
                    <div class="accordion" id="accordionFAQ">
                        <div class="accordion-item wow fadeInUp">
                            <h5 class="accordion-header" id="headingOne">
                                <button class="accordion-button text-heading-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <p>What Do you Services For Digital Agency?</p>
                                </button>
                            </h5>
                            <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con Excepteur sint occaecat</div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp">
                            <h5 class="accordion-header" id="headingTwo">
                                <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <p>What the Cost of Services Help desk or Support?</p>
                                </button>
                            </h5>
                            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es</div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp">
                            <h5 class="accordion-header" id="headingThree">
                                <button class="accordion-button text-heading-5 collapsed text-heading-5 type=" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <p>What types of Scale Help Desk?</p>
                                </button>
                            </h5>
                            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
