<!--Home 16 Section 1-->
<section class="position-relative overflow-hidden box-banner-16">
    <div class="box-banner-16-inner">
        <div class="container" data-aos="fade-up">
            <div class="banner text-start">
                <div class="row">
                    <div class="col-lg-8">
                        <p class="paragraph-base-fitree-bold text-underline text-uppercase color-white mb-1">WELCOME BUSINESS CONSULT</p>
                        <h1 class="display-4xl color-white mb-4">Consulting your Business Success</h1>
                        <p class="paragraph-base color-white mb-40">perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
                        <div class="d-flex align-items-center flex-wrap">
                            <a href="#" class="btn btn-secondery-500 mb-3"> Discover More </a>
                            <span class="mr-20"></span>
                            <div class="d-inline-block mb-3">
                                <a href="https://www.youtube.com/watch?v=TfU0qjuZkJ4" class="btn-play popup-video color-white me-2">
                                    <img class="" src="assets/imgs/pages/home15/play.png" alt="Vatech" />
                                </a>
                                <span class="paragraph-base regular color-white">Watch The Video</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
