<section class="box-section overflow-hidden @@class">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card-number-2">
                    <p class="paragraph-rubik-r color-white">Winning award</p>
                    <h4 class="heading-ag-3xl stroke-text-single">200+</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card-number-2">
                    <p class="paragraph-rubik-r color-white">Happy Clients</p>
                    <h4 class="heading-ag-3xl stroke-text-single">220+</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card-number-2">
                    <p class="paragraph-rubik-r color-white">Team Members</p>
                    <h4 class="heading-ag-3xl stroke-text-single">100+</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card-number-2">
                    <p class="paragraph-rubik-r color-white">Complete project</p>
                    <h4 class="heading-ag-3xl stroke-text-single">200+</h4>
                </div>
            </div>
        </div>
    </div>
</section>
