<section class="box-section overflow-hidden @@class">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-end">
            <div class="col-lg-7 mb-30">
                <div class="banner-small-title-black">Latest project</div>
                <h2 class="heading-ag-3xl dark-950">
                    Empowering Connections<br class="d-none d-lg-block" />
                    Empowering Growth
                </h2>
            </div>
            <div class="col-lg-5 mb-30">
                <p class="mb-20 paragraph-rubik-r">We provide technical support to assist you with any issues orai questions you may have regarding our services Yes, we offerm customizable solutions tailored</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="card-project-3 card-project-6">
                    <div class="card-image">
                        <img src="assets/imgs/pages/home13/project.png" alt="Vatech" />
                    </div>
                    <div class="card-info">
                        <a href="#"><h4 class="heading-ag-lg">Your Journey Our Expertise</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="box-image-projects">
                    <div class="image-project-1 mb-4">
                        <img src="assets/imgs/pages/home13/project2.png" class="w-100" alt="Vatech" />
                    </div>
                    <div class="image-project-2 mb-4">
                        <img src="assets/imgs/pages/home13/project3.png" class="w-100" alt="Vatech" />
                    </div>
                    <div class="image-project-3 mb-4">
                        <img src="assets/imgs/pages/home13/project4.png" class="w-100" alt="Vatech" />
                    </div>
                    <div class="image-project-4 mb-4">
                        <img src="assets/imgs/pages/home13/project5.png" class="w-100" alt="Vatech" />
                    </div>
                </div>
            </div>
        </div>
        <div class="box-logos-partner box-logos-partner-5-col">
            <div class="item-partner">
                <img src="assets/imgs/pages/home13/doo.svg" alt="Vatech" />
            </div>
            <div class="item-partner text-center">
                <img src="assets/imgs/pages/home13/inst.svg" alt="Vatech" />
            </div>
            <div class="item-partner text-center">
                <img src="assets/imgs/pages/home7/invision.svg" alt="Vatech" />
            </div>
            <div class="item-partner text-center">
                <img src="assets/imgs/pages/home7/hellosign.svg" alt="Vatech" />
            </div>
            <div class="item-partner text-end">
                <img src="assets/imgs/pages/home7/dribbble.svg" alt="Vatech" />
            </div>
        </div>
    </div>
</section>
