<!-- Blog Sidebar Section 1 -->
<section class="box-faq-single-banner @@class">
    <div class="box-faq-single-banner-inner">
        <div class="container">
            <h1 class="display-ag-2xl color-white">@@title</h1>
            <div class="box-breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span>@@title</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
