<ul class="navbar-nav m-auto gap-1 align-items-lg-center @@class">
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-medium" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
        <div class="mega-menu">
            <div class="row">
                <div class="col-6">
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="index.html">Home page 01</a></li>
                        <li><a class="dropdown-item" href="index-2.html">Home page 02</a></li>
                        <li><a class="dropdown-item" href="index-3.html">Home page 03</a></li>
                        <li><a class="dropdown-item" href="index-4.html">Home page 04</a></li>
                        <li><a class="dropdown-item" href="index-5.html">Home page 05</a></li>
                        <li><a class="dropdown-item" href="index-6.html">Home page 06</a></li>
                        <li><a class="dropdown-item" href="index-7.html">Home page 07</a></li>
                        <li><a class="dropdown-item" href="index-8.html">Home page 08</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="index-9.html">Home page 09</a></li>
                        <li><a class="dropdown-item" href="index-10.html">Home page 10</a></li>
                        <li><a class="dropdown-item" href="index-11.html">Home page 11</a></li>
                        <li><a class="dropdown-item" href="index-12.html">Home page 12</a></li>
                        <li><a class="dropdown-item" href="index-13.html">Home page 13</a></li>
                        <li><a class="dropdown-item" href="index-14.html">Home page 14</a></li>
                        <li><a class="dropdown-item" href="index-15.html">Home page 15</a></li>
                        <li><a class="dropdown-item" href="index-16.html">Home page 16</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-medium" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">About</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="about-us.html">About Us</a></li>
            <li><a class="dropdown-item" href="about-us-2.html">About Us 2</a></li>
            <li><a class="dropdown-item" href="about-us-3.html">About Us 3</a></li>
            <li><a class="dropdown-item" href="about-us-4.html">About Us 4</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-medium" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="services.html">Services 01</a></li>
            <li><a class="dropdown-item" href="services-2.html">Services 02</a></li>
            <li><a class="dropdown-item" href="services-3.html">Services 03</a></li>
            <li><a class="dropdown-item" href="services-4.html">Services 04</a></li>
            <li><a class="dropdown-item" href="service-detail.html">Services Details 01</a></li>
            <li><a class="dropdown-item" href="service-detail-2.html">Services Details 02</a></li>
            <li><a class="dropdown-item" href="service-detail-3.html">Services Details 03</a></li>
            <li><a class="dropdown-item" href="service-detail-4.html">Services Details 04</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-medium" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="project.html">Project List</a></li>
            <li><a class="dropdown-item" href="project-detail.html">Project Details</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-medium" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">News</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="news-grid.html">News Grid</a></li>
            <li><a class="dropdown-item" href="news-grid-sidebar.html">News Grid Sidebar</a></li>
            <li><a class="dropdown-item" href="news-details.html">Blog Details</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-medium" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="contact.html">Contact Us</a></li>
            <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
            <li><a class="dropdown-item" href="team.html">Team</a></li>
            <li><a class="dropdown-item" href="team-detail.html">Team Details</a></li>
            <li><a class="dropdown-item" href="faq.html">FAQs</a></li>
            <li><a class="dropdown-item" href="404.html">Error 404</a></li>
        </ul>
    </li>
</ul>
