<!--Home 9 Section 5 -->
<section class="position-relative overflow-hidden box-number-9">
    <div class="container">
        <div class="box-list-numbers">
            <div class="item-number" data-aos="fade-up" data-aos-duration="0">
                <div class="number-left">
                    <img src="assets/imgs/pages/home9/success.png" alt="Vatech" />
                </div>
                <div class="number-right">
                    <h4 class="heading-60-fitree secondery-500"><span class="odometer" data-count="95"></span><span class="d-inline-block align-middle">%</span></h4>
                    <p class="paragraph-18-fitree gray-1000">Success Rate</p>
                </div>
            </div>
            <div class="item-number" data-aos="fade-up" data-aos-duration="500">
                <div class="number-left">
                    <img src="assets/imgs/pages/home9/project.png" alt="Vatech" />
                </div>
                <div class="number-right">
                    <h4 class="heading-60-fitree secondery-500"><span class="odometer" data-count="23"></span><span class="d-inline-block align-middle">K</span></h4>
                    <p class="paragraph-18-fitree gray-1000">Complete Project</p>
                </div>
            </div>
            <div class="item-number" data-aos="fade-up" data-aos-duration="1000">
                <div class="number-left">
                    <img src="assets/imgs/pages/home9/client2.png" alt="Vatech" />
                </div>
                <div class="number-right">
                    <h4 class="heading-60-fitree secondery-500"><span class="odometer" data-count="12"></span><span class="d-inline-block align-middle">K</span></h4>
                    <p class="paragraph-18-fitree gray-1000">Satisfied Client</p>
                </div>
            </div>
            <div class="item-number" data-aos="fade-up" data-aos-duration="1500">
                <div class="number-left">
                    <img src="assets/imgs/pages/home9/trade2.png" alt="Vatech" />
                </div>
                <div class="number-right">
                    <h4 class="heading-60-fitree secondery-500"><span class="odometer" data-count="520"></span></h4>
                    <p class="paragraph-18-fitree gray-1000">Trade In The World</p>
                </div>
            </div>
        </div>
    </div>
</section>
