<!-- Blog Section 3 -->
<section class="box-section box-contact-section-2">
    <div class="container-slide">
        <div class="box-swiper">
            <div class="swiper-container slider-group-7">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/imgs/pages/blog/logo.svg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/imgs/pages/blog/logo2.svg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/imgs/pages/blog/logo3.svg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/imgs/pages/blog/logo4.svg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/imgs/pages/blog/logo5.svg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/imgs/pages/blog/logo6.svg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/imgs/pages/blog/logo7.svg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/imgs/pages/blog/logo.svg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>