<!--Home 12 Section 9 -->
<section class="position-relative box-section box-faqs-12 @@class">
    <div class="container" data-aos="fade-up">
        <div class="row position-relative">
            <div class="col-lg-6 mb-4">
                <div class="position-relative d-inline-block w-100">
                    <div class="image-faq-1">
                        <img class="wow img-custom-anim-left" src="assets/imgs/pages/home12/faq2.png" alt="Vatech" />
                    </div>
                    <div class="image-faq-2">
                        <img class="wow img-custom-anim-right" src="assets/imgs/pages/home12/faq.png" alt="Vatech" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <p class="sub-heading-ag-sm dark-950 text-uppercase text-line-up-down black letter-space-4 mb-3">Some Faq</p>
                <h3 class="heading-3xl secondery-500 mb-40">
                    Construction at your service A<br class="d-none d-lg-block" />
                    passion precision pride
                </h3>
                <div class="block-faqs">
                    <div class="accordion" id="accordionFAQ">
                        <div class="accordion-item wow fadeInUp">
                            <h5 class="accordion-header" id="headingOne">
                                <button class="accordion-button text-heading-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <p>What the Cost of Services Help desk or Support?</p>
                                </button>
                            </h5>
                            <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es</div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp">
                            <h5 class="accordion-header" id="headingTwo">
                                <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <p>What Do you Services For Digital Agency?</p>
                                </button>
                            </h5>
                            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es</div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp">
                            <h5 class="accordion-header" id="headingThree">
                                <button class="accordion-button text-heading-5 collapsed text-heading-5 type=" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <p>What types of Scale Help Desk?</p>
                                </button>
                            </h5>
                            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
