<!--Home 12 Section 7 -->
<section class="position-relative overflow-hidden box-pricing-12">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-end">
            <div class="col-lg-7 mb-30">
                <p class="sub-heading-ag-sm dark-950 text-uppercase text-line-up-down black letter-space-4 mb-3">Pricing Plan</p>
                <h2 class="heading-ag-3xl dark-950">
                    Pricing Plan For your<br class="d-none d-lg-block" />
                    Next Step
                </h2>
            </div>
            <div class="col-lg-5 text-center text-lg-end mb-30">
                <div class="box-button-change-package">
                    <a href="#" data-type="monthly" class="btn btn-default btn-active"> Monthly </a>
                    <a href="#" data-type="yearly" class="btn btn-default"> Yearly </a>
                </div>
            </div>
        </div>
        <div class="box-list-pricing">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card-pricing-4">
                        <div class="top-pricing">
                            <div class="pricing-name mb-2">
                                <h6 class="sub-heading-ag-xl-m dark-950">Personal</h6>
                            </div>
                            <div class="pricing-price">
                                <h2 class="heading-ag-xl package-item monthly primary-home" style="display: block;">20.29</h2>
                                <h2 class="heading-ag-xl package-item yearly primary-home">243.48</h2>
                                <p class="paragraph-ag-base package-item dark-950 monthly" style="display: block;">/Month</p>
                                <p class="paragraph-ag-base package-item dark-950 yearly">/Year</p>
                            </div>
                        </div>
                        <div class="bottom-pricing">
                            <ul class="list-ticked mb-40">
                                <li>10 Users</li>
                                <li class="not-ticked">Saas Metrics</li>
                                <li>Team Collaboration</li>
                                <li class="not-ticked">All Consultancy Program</li>
                                <li>Export File</li>
                            </ul>
                            <div class="card-button text-center">
                                <a href="#" class="btn btn-border-950">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card-pricing-4">
                        <div class="top-pricing">
                            <div class="pricing-name mb-2">
                                <h6 class="sub-heading-ag-xl-m dark-950">Business</h6>
                            </div>
                            <div class="pricing-price">
                                <h2 class="heading-ag-xl package-item monthly primary-home" style="display: block;">120.29</h2>
                                <h2 class="heading-ag-xl package-item yearly primary-home">1,443.48</h2>
                                <p class="paragraph-ag-base package-item dark-950 monthly" style="display: block;">/Month</p>
                                <p class="paragraph-ag-base package-item dark-950 yearly">/Year</p>
                            </div>
                        </div>
                        <div class="bottom-pricing">
                            <ul class="list-ticked mb-40">
                                <li>10 Users</li>
                                <li class="not-ticked">Saas Metrics</li>
                                <li>Team Collaboration</li>
                                <li class="not-ticked">All Consultancy Program</li>
                                <li>Export File</li>
                            </ul>
                            <div class="card-button text-center">
                                <a href="#" class="btn btn-border-950">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card-pricing-4">
                        <div class="top-pricing">
                            <div class="pricing-name mb-2">
                                <h6 class="sub-heading-ag-xl-m dark-950">Enterprise</h6>
                            </div>
                            <div class="pricing-price">
                                <h2 class="heading-ag-xl package-item monthly primary-home" style="display: block;">220.29</h2>
                                <h2 class="heading-ag-xl package-item yearly primary-home">2,643.48</h2>
                                <p class="paragraph-ag-base package-item dark-950 monthly" style="display: block;">/Month</p>
                                <p class="paragraph-ag-base package-item dark-950 yearly">/Year</p>
                            </div>
                        </div>
                        <div class="bottom-pricing">
                            <ul class="list-ticked mb-40">
                                <li>10 Users</li>
                                <li class="not-ticked">Saas Metrics</li>
                                <li>Team Collaboration</li>
                                <li class="not-ticked">All Consultancy Program</li>
                                <li>Export File</li>
                            </ul>
                            <div class="card-button text-center">
                                <a href="#" class="btn btn-border-950">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
