<!-- Project Detail Section 1 -->
<section class="box-section box-project-detail">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-7 mb-4">
                <img src="assets/imgs/pages/project/detail.png" alt="Vatech" />
            </div>
            <div class="col-lg-5 mb-4 position-relative">
                <div class="right-project-detail">
                    <h2>A lifetime Insurance</h2>
                    <p class="paragraph-rubik-r neutral-2400">Aliquam eros justo, posuere loborti vive rra laoreet matti ullamc orper posu ere viverra .Aliquam eros justo, posuere lobortis non, virra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliq</p>
                    <p class="paragraph-rubik-r neutral-2400">Aliquam eros justo, posuere loborti vive rra laoreet matti ullamc orper posu ere viverra .Aliquam eros justo, posuere lobortis non,</p>
                    <div class="box-info-project mt-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="paragraph-rubik-r">Client</p>
                                <p class="sub-heading-ag-md mb-5">Sandi leo rakiul</p>
                                <p class="paragraph-rubik-r">Amount</p>
                                <p class="sub-heading-ag-md">45,000$</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="paragraph-rubik-r">Category</p>
                                <p class="sub-heading-ag-md mb-5">Monthly,Insecure</p>
                                <p class="paragraph-rubik-r">Date</p>
                                <p class="sub-heading-ag-md">November 19, 2024</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-detail">
            <p>Sliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo, posuere lobortis, aoreet augue mattis ferment ullamcorper viverra laoreet Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo, posuere lobortis non,</p>
            <p>Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam erosto, posuere lobortis non, viverra laoreet augue mis fermentum ullamcorper viverra laoreet Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo, posuere lobortis non, viverra laoreet augue mattis. Aliquam eros justo, posuere loborti viverra laoreet matti ullamcorper posuere viverra .Aliquam eros justo, posuere lobortis non, viverra laoreet augue mattis.</p>
            <h4>Our Project Structure Fully Responsive</h4>
            <p>Aliquam eros justo, posuere loborti vive rra laoreet matti ullamc orper posu ere viverra .Aliquam eros justo, posuere lobor, vive rra laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros justo, posuere loborti viverra laoreet mat ullamcorper posue viverra .Aliquam eros justo,</p>
        </div>
    </div>
</section>
