<!-- Services 3 Section 2 -->
<section class="position-relative overflow-hidden box-videos-services-3 @@class">
    <div class="box-videos-services-3-inner">
        <div class="box-video">
            <span class="text-stroke-300"> VIDEO </span>
            <a href="https://www.youtube.com/watch?v=TfU0qjuZkJ4" class="popup-video"><img src="assets/imgs/pages/home14/play.png" alt="Vatech" /></a>
        </div>
        <div class="box-info-video-bottom">
            <p class="sub-heading-ag-xl-m mb-3 color-white">Professionality</p>
            <div class="line-rounded"></div>
            <p class="sub-heading-ag-xl-m mb-3 color-white">Clients Services</p>
            <div class="line-rounded"></div>
        </div>
    </div>
</section>
