<!--Home 6 Section 1-->
<section class="position-relative overflow-hidden box-banner-6">
    <div class="banner-circle" data-aos="fade-up">
        <img src="assets/imgs/pages/home6/circle.png" alt="Vatech" />
    </div>
    <div class="banner-star" data-aos="fade-up">
        <img src="assets/imgs/pages/home6/star.png" alt="Vatech" />
    </div>
    <div class="container" data-aos="fade-up">
        <div class="banner-6">
            <h1 class="display-4xl dark-950 mb-5">
                Solutions for <span class="primary-500">Tomorrow</span><br />
                was Challenges
            </h1>
            <div class="image-banner-6">
                <img src="assets/imgs/pages/home6/banner.png" alt="Vatech" />
                <div class="image-banner-6-2">
                    <img src="assets/imgs/pages/home6/banner2.png" alt="Vatech" />
                </div>
            </div>
        </div>
    </div>
</section>
