<!--Home 6 Section 7 -->
<section class="position-relative overflow-hidden box-section box-testimonial-6">
    <div class="bg-testimonial-2"></div>
    <div class="container" data-aos="fade-up">
        <div class="text-center" data-aos="fade-up">
            <h6 class="heading-18-fitree primary-500 text-uppercase mb-2">TESTIMONIAL</h6>
            <h3 class="heading-48-fitree secondery-500 text-uppercase">
                what Say Our Clients<br class="d-none d-lg-block" />
                For Our Services
            </h3>
        </div>
        <div class="box-testimonials-lists mt-5" data-aos="fade-up">
            <div class="box-swiper pt-3 pb-8">
                <div class="swiper-container slider-group-3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card-testimonials-2 card-testimonials-6">
                                <div class="rating">
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                </div>
                                <div class="comment-text paragraph-18-fitree">“ buat night cream bagiku sih oke oke aja,cukup melembabkan. untuk tekstur aku lebih prefer night “</div>
                                <div class="card-author">
                                    <div class="author-image">
                                        <img src="assets/imgs/pages/home6/author.png" alt="Vatech" />
                                    </div>
                                    <div class="author-info">
                                        <h5 class="heading-18-fitree secondery-500">Cameron Williamson</h5>
                                        <p class="paragraph-base-fitree secondery-500">Product Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-testimonials-2 card-testimonials-6">
                                <div class="rating">
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                </div>
                                <div class="comment-text paragraph-18-fitree">“ buat night cream bagiku sih oke oke aja,cukup melembabkan. untuk tekstur aku lebih prefer night “</div>
                                <div class="card-author">
                                    <div class="author-image">
                                        <img src="assets/imgs/pages/home6/author.png" alt="Vatech" />
                                    </div>
                                    <div class="author-info">
                                        <h5 class="heading-18-fitree secondery-500">Cameron Williamson</h5>
                                        <p class="paragraph-base-fitree secondery-500">Product Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-testimonials-2 card-testimonials-6">
                                <div class="rating">
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                </div>
                                <div class="comment-text paragraph-18-fitree">“ buat night cream bagiku sih oke oke aja,cukup melembabkan. untuk tekstur aku lebih prefer night “</div>
                                <div class="card-author">
                                    <div class="author-image">
                                        <img src="assets/imgs/pages/home6/author.png" alt="Vatech" />
                                    </div>
                                    <div class="author-info">
                                        <h5 class="heading-18-fitree secondery-500">Cameron Williamson</h5>
                                        <p class="paragraph-base-fitree secondery-500">Product Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-testimonials-2 card-testimonials-6">
                                <div class="rating">
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                    <img src="assets/imgs/template/icons/star.svg" alt="Vatech" />
                                </div>
                                <div class="comment-text paragraph-18-fitree">“ buat night cream bagiku sih oke oke aja,cukup melembabkan. untuk tekstur aku lebih prefer night “</div>
                                <div class="card-author">
                                    <div class="author-image">
                                        <img src="assets/imgs/pages/home6/author.png" alt="Vatech" />
                                    </div>
                                    <div class="author-info">
                                        <h5 class="heading-18-fitree secondery-500">Cameron Williamson</h5>
                                        <p class="paragraph-base-fitree secondery-500">Product Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-style-1 swiper-pagination-style-4"></div>
            </div>
        </div>
    </div>
</section>
