<!--Home 15 Section 10 -->
<section class="box-section overflow-hidden box-latest-blog-15">
    <div class="box-latest-blog-15-inner">
        <div class="container" data-aos="fade-up">
            <div class="text-center">
                <h6 class="paragraph-base-fitree-medium text-uppercase primary-500 mb-2">News & blog</h6>
                <h3 class="heading-3xl secondery-500">Read Our Latest News & Blog</h3>
            </div>
            <div class="row position-relative mt-5">
                <div class="col-lg-4">
                    <div class="card-blog card-blog-14">
                        <div class="card-image">
                            <a href="#"><img src="assets/imgs/pages/home15/news.png" alt="Vatech" /></a>
                            <a href="#" class="post-cat">Tax Advisiory</a>
                        </div>
                        <div class="card-info">
                            <div class="card-meta">
                                <span class="comment">Comments</span>
                                <a href="#" class="by-user">By Admin</a>
                            </div>
                            <div class="card-title">
                                <a href="#" class="link-title">Stay Informed with Our Consulting Agency's News Feed</a>
                                <div class="box-link-bottom">
                                    <a href="#" class="link-readmore">
                                        Read More
                                        <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 10C10 9.47 10.4581 8.67857 10.9219 8.01429C11.5181 7.15714 12.2306 6.40929 13.0475 5.83857C13.66 5.41071 14.4025 5 15 5M15 5C14.4025 5 13.6594 4.58929 13.0475 4.16143C12.2306 3.59 11.5181 2.84214 10.9219 1.98643C10.4581 1.32143 10 0.528571 10 -2.38419e-07M15 5L0 5" stroke="" stroke-width="1.5" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-blog card-blog-14">
                        <div class="card-image">
                            <a href="#"><img src="assets/imgs/pages/home15/news2.png" alt="Vatech" /></a>
                            <a href="#" class="post-cat">Consulting</a>
                        </div>
                        <div class="card-info">
                            <div class="card-meta">
                                <span class="comment">Comments</span>
                                <a href="#" class="by-user">By Admin</a>
                            </div>
                            <div class="card-title">
                                <a href="#" class="link-title">Explore Our Blog for Expert Tips and Industry News</a>
                                <div class="box-link-bottom">
                                    <a href="#" class="link-readmore">
                                        Read More
                                        <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 10C10 9.47 10.4581 8.67857 10.9219 8.01429C11.5181 7.15714 12.2306 6.40929 13.0475 5.83857C13.66 5.41071 14.4025 5 15 5M15 5C14.4025 5 13.6594 4.58929 13.0475 4.16143C12.2306 3.59 11.5181 2.84214 10.9219 1.98643C10.4581 1.32143 10 0.528571 10 -2.38419e-07M15 5L0 5" stroke="" stroke-width="1.5" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-blog card-blog-14">
                        <div class="card-image">
                            <a href="#"><img src="assets/imgs/pages/home15/news3.png" alt="Vatech" /></a>
                            <a href="#" class="post-cat">Financial</a>
                        </div>
                        <div class="card-info">
                            <div class="card-meta">
                                <span class="comment">Comments</span>
                                <a href="#" class="by-user">By Admin</a>
                            </div>
                            <div class="card-title">
                                <a href="#" class="link-title">Read Our Latest News and Thought Leadership Pieces</a>
                                <div class="box-link-bottom">
                                    <a href="#" class="link-readmore">
                                        Read More
                                        <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 10C10 9.47 10.4581 8.67857 10.9219 8.01429C11.5181 7.15714 12.2306 6.40929 13.0475 5.83857C13.66 5.41071 14.4025 5 15 5M15 5C14.4025 5 13.6594 4.58929 13.0475 4.16143C12.2306 3.59 11.5181 2.84214 10.9219 1.98643C10.4581 1.32143 10 0.528571 10 -2.38419e-07M15 5L0 5" stroke="" stroke-width="1.5" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
