<!--Home 15 Section 7 -->
<section class="position-relative overflow-hidden box-section box-testimonial-12">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-end">
            <div class="col-lg-12 mb-30">
                <p class="paragraph-base-fitree-medium text-uppercase primary-500 mb-3">TESTIMONIALS</p>
                <h2 class="heading-3xl dark-950">What our Client Saying</h2>
            </div>
        </div>
        <div class="box-slider-testimonials-11 mt-5">
            <div class="box-swiper pt-5 pb-6">
                <div class="swiper-container slider-group-1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card-testimonials-2 card-testimonials-12">
                                <div class="card-image">
                                    <img src="assets/imgs/pages/home15/review.png" alt="Vatech" />
                                </div>
                                <div class="card-info">
                                    <div class="comment-text sub-heading-xl dark-950">“What truly sets Vatech apart is their strategic approach. They took the time to fully comprehend our industry. Apart is their strategic approach. truly sets Vatech apart”</div>
                                    <div class="rating">
                                        <img src="assets/imgs/pages/home8/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home8/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home8/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home8/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home8/star.svg" alt="Vatech" />
                                    </div>
                                    <div class="card-author">
                                        <div class="author-info">
                                            <h5 class="sub-heading-xl primary-500">Mrs.Diannel Russell</h5>
                                            <p class="paragraph-base primary-500">Fluxi Agency</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-testimonials-2 card-testimonials-12">
                                <div class="card-image">
                                    <img src="assets/imgs/pages/home15/review.png" alt="Vatech" />
                                </div>
                                <div class="card-info">
                                    <div class="comment-text sub-heading-xl dark-950">“What truly sets Vatech apart is their strategic approach. They took the time to fully comprehend our industry. Apart is their strategic approach. truly sets Vatech apart”</div>
                                    <div class="rating">
                                        <img src="assets/imgs/pages/home8/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home8/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home8/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home8/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home8/star.svg" alt="Vatech" />
                                    </div>
                                    <div class="card-author">
                                        <div class="author-info">
                                            <h5 class="sub-heading-xl primary-500">Mrs.Diannel Russell</h5>
                                            <p class="paragraph-base primary-500">Fluxi Agency</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-style-1 swiper-pagination-style-4"></div>
            </div>
        </div>
    </div>
</section>
