<!--Home 15 Section 8 -->
<section class="position-relative overflow-hidden box-section @@class">
    <div class="container" data-aos="fade-up">
        <div class="text-center">
            <div class="paragraph-base-fitree-medium text-uppercase color-white mb-3">Watching Zone</div>
            <h2 class="display-2xl color-white mb-3">
                Watching Previews Consulting<br class="d-none d-lg-block" />
                Program video
            </h2>
            <a href="https://www.youtube.com/watch?v=TfU0qjuZkJ4" class="popup-video">
                <img src="assets/imgs/pages/home15/play-500.svg" alt="Vatech" />
            </a>
        </div>
    </div>
</section>
