<!--Home 5 Section 6 -->
<section class="box-section box-clients-5">
    <div class="bg-number" data-aos="fade-up"></div>
    <div class="container" data-aos="fade-up">
        <div class="box-numbers">
            <div class="item-number">
                <div class="item-number-image">
                    <img src="assets/imgs/pages/home5/client.png" alt="Vatech" />
                </div>
                <div class="item-numner-info">
                    <h3 class="heading-ag-3xl"><span class="odometer" data-count="10"></span><span class="d-inline-block align-middle">+</span></h3>
                    <p class="sub-heading-ag-lg">Clients Review</p>
                </div>
            </div>
            <div class="item-number">
                <div class="item-number-image">
                    <img src="assets/imgs/pages/home5/client.png" alt="Vatech" />
                </div>
                <div class="item-numner-info">
                    <h3 class="heading-ag-3xl"><span class="odometer" data-count="10"></span><span class="d-inline-block align-middle">+</span></h3>
                    <p class="sub-heading-ag-lg">Team member</p>
                </div>
            </div>
            <div class="item-number">
                <div class="item-number-image">
                    <img src="assets/imgs/pages/home5/client.png" alt="Vatech" />
                </div>
                <div class="item-numner-info">
                    <h3 class="heading-ag-3xl"><span class="odometer" data-count="20"></span><span class="d-inline-block align-middle">+</span></h3>
                    <p class="sub-heading-ag-lg">Winning award</p>
                </div>
            </div>
            <div class="item-number">
                <div class="item-number-image">
                    <img src="assets/imgs/pages/home5/client.png" alt="Vatech" />
                </div>
                <div class="item-numner-info">
                    <h3 class="heading-ag-3xl"><span class="odometer" data-count="10"></span><span class="d-inline-block align-middle">+</span></h3>
                    <p class="sub-heading-ag-lg">project Done</p>
                </div>
            </div>
        </div>
        <div class="block-form-contact">
            <div class="row">
                <div class="col-lg-7">
                    <div class="box-form-contact">
                        <div class="banner-small-title-black line-primary-home mb-2">Message</div>
                        <h2 class="heading-ag-3xl dark-950 mb-5">
                            your business to growth<br class="d-none d-lg-block" />
                            please touch ?
                        </h2>
                        <div class="form-contact">
                            <form class="form" action="#">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control user" placeholder="Name Here" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control phone" placeholder="Contact Here" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control email" placeholder="Email Address Here" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="5" placeholder="Message Here"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-submit" value="Contact us" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="client-logos">
            <div class="item-logo">
                <img src="assets/imgs/pages/home5/doo.svg" alt="Vatech" />
            </div>
            <div class="item-logo">
                <img src="assets/imgs/pages/home5/instagram.svg" alt="Vatech" />
            </div>
            <div class="item-logo">
                <img src="assets/imgs/pages/home5/invision.svg" alt="Vatech" />
            </div>
            <div class="item-logo">
                <img src="assets/imgs/pages/home5/hellosign.svg" alt="Vatech" />
            </div>
            <div class="item-logo">
                <img src="assets/imgs/pages/home5/chri.svg" alt="Vatech" />
            </div>
        </div>
        <div class="box-testimonials-lists mt-5">
            <div class="box-swiper">
                <div class="swiper-container slider-group-2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card-testimonials-5">
                                <div class="card-testimonials-inner">
                                    <div class="rating">
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                    </div>
                                    <div class="card-author">
                                        <div class="author-image">
                                            <img src="assets/imgs/pages/home5/author.png" alt="Vatech" />
                                        </div>
                                    </div>
                                    <div class="comment-text">Financial planners help people to gain knowledge about how toio dei invest and save their money in the most efficient way ever Manynmi people all across the country use them</div>
                                    <div class="card-author-info">
                                        <div class="author-info">
                                            <div>
                                                <h5 class="sub-heading-ag-sm">Albert Flores</h5>
                                                <p class="paragraph-rubik-r">Nursing Assistant</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-testimonials-5">
                                <div class="card-testimonials-inner">
                                    <div class="rating">
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                    </div>
                                    <div class="card-author">
                                        <div class="author-image">
                                            <img src="assets/imgs/pages/home5/author.png" alt="Vatech" />
                                        </div>
                                    </div>
                                    <div class="comment-text">Financial planners help people to gain knowledge about how toio dei invest and save their money in the most efficient way ever Manynmi people all across the country use them</div>
                                    <div class="card-author-info">
                                        <div class="author-info">
                                            <div>
                                                <h5 class="sub-heading-ag-sm">Jenny Wilson</h5>
                                                <p class="paragraph-rubik-r">Web Designer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-testimonials-5">
                                <div class="card-testimonials-inner">
                                    <div class="rating">
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                        <img src="assets/imgs/pages/home5/star.svg" alt="Vatech" />
                                    </div>
                                    <div class="card-author">
                                        <div class="author-image">
                                            <img src="assets/imgs/pages/home5/author.png" alt="Vatech" />
                                        </div>
                                    </div>
                                    <div class="comment-text">Financial planners help people to gain knowledge about how toio dei invest and save their money in the most efficient way ever Manynmi people all across the country use them</div>
                                    <div class="card-author-info">
                                        <div class="author-info">
                                            <div>
                                                <h5 class="sub-heading-ag-sm">Esther Howard</h5>
                                                <p class="paragraph-rubik-r">Businessman</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-style-2 swiper-pagination-style-3"></div>
            </div>
        </div>
    </div>
</section>
