<!--Home 5 Section 2 -->
<section class="position-relative overflow-hidden box-section box-about-us-5">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-center">
            <div class="col-lg-4 mb-4">
                <img src="assets/imgs/pages/custom/img-about5.png" alt="Vatech" />
            </div>
            <div class="col-lg-8 mb-4">
                <div class="banner-small-title-black line-primary-home">About Us</div>
                <h2 class="heading-3xl mb-30">Crafting Success Stories One Client Time</h2>
                <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry wasoi imn Lorem Ipsum has been the industry's standard dummyLorem Ipsum is simply isnnwan dummy text of the printing and typesetting industry.</p>
                <p class="mb-4">Been the industry's standard dummyLorem Ipsum is simply isnn dummy text of thegh printing and typesetting industry.</p>

                <div class="mb-5"></div>
                <a href="#" class="btn btn-primary-home">
                    Discover More
                    <img src="assets/imgs/template/icons/plus-sm.svg" alt="Vatech" />
                </a>
            </div>
        </div>
    </div>
</section>
