<!--Home 5 Section 3 -->
<section class="position-relative overflow-hidden box-section box-about-us-5">
    <div class="container" data-aos="fade-up">
        <div class="text-center" data-aos="fade-up">
            <p class="title-line-both primary-500">all Gallery</p>
            <h3 class="heading-3xl neutral-1200">
                Inspiring Confidence corporate<br class="d-none d-lg-block" />
                Delivering Solutions
            </h3>
        </div>
        <div class="row align-items-center mt-60" data-aos="fade-up">
            <div class="col-lg-5">
                <div class="card-gallery">
                    <div class="card-image"></div>
                    <div class="card-info">
                        <h6 class="heading-ag-lg">
                            Your Journey<br />
                            Our Expertise
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card-gallery card-gallery-2">
                    <div class="card-image" style="background-image: url(assets/imgs/pages/home5/gallery2.png);"></div>
                    <div class="card-info">
                        <h6 class="heading-ag-lg">
                            Your Journey<br />
                            Our Expertise
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card-gallery card-gallery-2">
                            <div class="card-image" style="background-image: url(assets/imgs/pages/home5/gallery3.png);"></div>
                            <div class="card-info">
                                <h6 class="heading-ag-lg">
                                    Your Journey<br />
                                    Our Expertise
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card-gallery card-gallery-2">
                            <div class="card-image" style="background-image: url(assets/imgs/pages/home5/gallery4.png);"></div>
                            <div class="card-info">
                                <h6 class="heading-ag-lg">
                                    Your Journey<br />
                                    Our Expertise
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
